/* Layout */

.flex {
  display: flex;
}

.container,
.main {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.block {
  width: 100%;
}

.padding {
  padding: 10px;
}

.banner {
  padding: 30px 20px 30px 20px;
  display: flex;
}

main {
  min-height: Calc(100vh - 250px);
  padding: 20px;
}

div.block.logo > a {
  color: #fff;
  text-decoration: none;
}

.footer,
footer {
  padding: 20px;
  margin-top: 50px;
}

/* Box */
.box {
  border: solid 1px #fff;
  border-radius: 5pt 10pt 5pt 10pt;
}

.box header {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px;
  border-radius: 5pt 10pt 0pt 0pt;
}

.box p {
  padding: 0px 20px 0px 20px;
}

/* Button */

.button-sm {
  padding: 6px 14px 6px 14px;
  color: white;
  background: #005eb8;
  text-decoration: none;
  border-radius: 5pt 10pt 5pt 10pt;
  display: inline-block;
  font-size: 0.9rem;
}

.button {
  padding: 8px 16px 8px 16px;
  color: white;
  background: #005eb8;
  text-decoration: none;
  border-radius: 5pt 10pt 5pt 10pt;
  display: inline-block;
  font-size: 1.2rem;
}

.button-md {
  padding: 16px 32px 16px 32px;
  color: white;
  background: #005eb8;
  text-decoration: none;
  border-radius: 5pt 10pt 5pt 10pt;
  font-size: 1.4rem;
  display: inline-block;
}

.button-lg {
  padding: 24px 50px 24px 50px;
  color: white;
  background: #005eb8;
  text-decoration: none;
  border-radius: 5pt 10pt 5pt 10pt;
  font-size: 1.6rem;
  display: inline-block;
}

/* Icons */
.fas {
  font-size: 1.8rem;
}

/* Dropdown Menu */

/* Table */

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  color: #425563;
}

h1 {
  margin: 0.2em 0;
}

.text-xl {
  font-size: xx-large;
}

.text-lg {
  font-size: x-large;
}

.text-md {
  font-size: larger;
}

/* Font */
@import url("fonts/IstokWeb-Regular.ttf");

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-center {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px;
  padding: 0;
}

.text-middle {
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 1.8rem;
  font-weight: 300;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  padding: 13px;
  font-size: 1rem;
  border-radius: 5pt 0pt 0pt 10pt;
  border-style: none;
  opacity: 0.6;
  max-width: 180px;
}

.search .button {
  border-radius: 0pt 10pt 5pt 0pt;
  background: rgba(255, 255, 255, 0.9);
  color: #425563;
}
.search .fas {
  font-size: 1.7rem;
}
.logo img {
  margin-right: 7px;
}

/* Remove button border */

input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5pt;
  border-style: none;
}

/* Overide blue link in Nav */
nav a {
  color: #fff;
}

nav a:hover {
  color: #fbe733;
}
