.bg-blue-1 {
  background-color: #ccdff1;
}
.bg-blue-2 {
  background-color: #99bfe3;
}
.bg-blue-3 {
  background-color: #669ed4;
}
.bg-blue-4 {
  background-color: #337ec6;
}
.bg-blue-5 {
  background-color: #005eb8;
}

.bg-green-1 {
  background-color: #ccead7;
}
.bg-green-2 {
  background-color: #99d5b0;
}
.bg-green-3 {
  background: #66c088;
}
.bg-green-4 {
  background-color: #33ab61;
}
.bg-green-5 {
  background-color: #009639;
}

.bg-yellow-1 {
  background-color: #fef9cc;
}
.bg-yellow-2 {
  background-color: #fdf399;
}
.bg-yellow-3 {
  background-color: #fced66;
}
.bg-yellow-4 {
  background-color: #fbe733;
}
.bg-yellow-5 {
  background-color: #fae100;
}

.bg-red-1 {
  background-color: #f8d4d2;
}
.bg-red-2 {
  background-color: #f0a9a4;
}
.bg-red-3 {
  background-color: #e97f77;
}
.bg-red-4 {
  background-color: #e15449;
}
.bg-red-5 {
  background-color: #da291c;
}

.bg-grey-1 {
  background-color: #d9dde0;
}
.bg-grey-2 {
  background-color: #b3bbc1;
}
.bg-grey-3 {
  background-color: #8e99a1;
}
.bg-grey-4 {
  background-color: #687782;
}
.bg-grey-5 {
  background-color: #425563;
}

.text-blue {
  color: #005eb8;
}

.text-grey {
  color: #425563;
}

.text-green {
  color: #009639;
}

.text-red {
  color: #da291c;
}
